/* src/styles/index.css */

:root {
  /* Sua paleta de cores */
  --color-primary: #003b56; /* Azul escuro */
  --color-accent: #ff5c00; /* Laranja */
  --color-light: #f5f2f0; /* Branco/Creme */
  --color-dark: #000000; /* Cor de texto escuro */
  --corlor-white: rgb(255, 255, 255);
  --font-body: "Poppins", sans-serif;
  --font-heading: "Bebas Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-light); /* Fundo padrão do site */
  color: var(--color-dark);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  letter-spacing: 1.5px;
  color: var(--color-primary); /* Títulos usam a cor primária */
}

a {
  color: var(--color-accent); /* Links usam a cor de destaque */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
