/* src/components/layout/AppLayout.css */

.app-main-content {
  /* O seu Header tem 'position: absolute'.
    Este padding-top "empurra" o conteúdo de TODAS as páginas
    para baixo, para que comecem *depois* do Header.
    (Baseado no seu Header.css, a altura é aprox. 180px-200px)
  */
  padding-top: 200px; 
  
  min-height: 100vh;
  box-sizing: border-box;
}

/* EXCEÇÃO: Se for a Home Page (com o carrossel 100vh), 
  removemos o padding-top para que o carrossel comece 
  no topo da tela (atrás do header).
*/
.app-main-content.is-home-page {
  padding-top: 0;
}