/* src/components/layout/AppLayout.css */

.app-main-content {
  /* --- (MODIFICAÇÃO) ---
    Este padding é para páginas INTERNAS.
    Ajustado de 200px para 100px, para compensar a altura 
    exata do novo Header no modo 'header-solid' (fixo).
  */
  padding-top: 100px; 
  /* --- (FIM DA MODIFICAÇÃO) --- */
  
  min-height: 100vh;
  box-sizing: border-box;
}

/* EXCEÇÃO: Na Home Page (com o carrossel 100vh), 
  removemos o padding-top para que o carrossel comece 
  no topo da tela (atrás do header).
*/
.app-main-content.is-home-page {
  padding-top: 0;
}